.projects-page {
    min-height: 100vh;
    padding: 80px 8%;
    background: #0f2027;
    color: white;
}

.page-title {
    text-align: center;
    font-size: 45px;
    margin-bottom: 60px;
}

.back-home {
    text-align: center;
    margin-top: 50px;
}

.back-home button {
    padding: 10px 25px;
    border: none;
    background: #00d9ff;
    color: black;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.back-home button:hover {
    background: white;
}